$width: 300px;
$height: 300px;

$color: #e03434;
$baseWidth: 200px;
$baseWidth: 100px !default; // 任何重名定义都会覆盖这个，不管在此之前或者之后
.div1 {
    width: $width;
    height: $height;
    background-color: $color;
}

.div2 {
    width: $baseWidth;
    height: $baseWidth;
    background-color: $color;
}
